{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'style.css' %}" rel="stylesheet">
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
  type="text/css"
/>
<div class="container d-flex justify-content-center mt-100">
    <div class="row">
<!--      <form method="post" action="{% url 'index' %}"  >-->
<!--        <div class="col-md-12">-->
<!--              <div class="form-group">-->
<!--                <label for="exampleFormControlFile1">Example file input</label>-->
<!--                  {% csrf_token %}-->
<!--                <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">-->
<!--              </div>-->
<!--&lt;!&ndash;              <div class="form-group files">&ndash;&gt;-->
<!--&lt;!&ndash;                <label>Upload Your File </label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="file"  name='image' class="form-control" multiple="" >&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            <div class="my-dropzone">-->
<!--                {% csrf_token %}-->
<!--                <input type="file"  name='image' class="dropzone" multiple="" >-->
<!--            </div>-->

                <form action="{% url 'index' %}" method="post" enctype="multipart/form-data"              class="form-horizontal">            {% csrf_token %}            <input type="file" name="image" class="form-control" required>
                <input type="submit" value="Upload" name="image" class="btn btn-primary btn-sm">
<!--                </form>-->

<!--&lt;!&ndash;          Filter by price interval: <b>€ 10</b> <input id="ex2" type="range" class="col-sm-2" value="" data-min="10" data-max="1000" data-step="5" data-value="[250,450]"/> <b>€ 1000</b>&ndash;&gt;-->
        <label for="customRange1" class="form-label">VAR 1</label>
            {% csrf_token %}
        <input type="range" class="form-range" name='min' min="50" max="500" id="customRange1">
        <label for="customRange2" class="form-label">VAR 2</label>
            {% csrf_token %}
        <input type="range" class="form-range" name='max' min="50" max="500" id="customRange2">
        <button class="btn btn-primary" type="submit">Result</button>
<!--        </div>-->
      </form>
    </div>
</div>

<!--  <div class="file-upload-wrapper">-->
<!--    <input type="file" name="image" id="input-file-now" class="file-upload" />-->
<!--  </div>-->
<!--  -->



<img src="{{input.image.url}}">
<script>
var myDropzone = new Dropzone("#drop", {
    dictDefaultMessage: "Upload your image here",
    clickable: false,
    url: "index",
    maxFiles: 1,
    acceptedFiles: ".jpg",".png"
});
</script>
{% endblock content %}
