version: "3.7"

services:
  django_web:
    build: .
    command: >
      bash -c "python3 -m pip install --upgrade pip &&  pip install gunicorn  && python3 manage.py migrate && gunicorn mlAmeri.wsgi:application --bind 0.0.0.0:8000 --timeout 500"
    volumes:
     # - type: volume
      - "static:/app/staitc"
      - "media:/app/media"
      - ".:/app"

    ports:
      - 8000:8000

#  nginx:
#    build: ./nginx
#    volumes:
#      - static:/app/static
#      - media:/app/media
#      - ./nginx/config/:/etc/nginx/conf.d/
#    ports:
#      - 8000:80
#    depends_on:
#      - django_web


volumes:
  static:
  media:

